<!DOCTYPE html>
<html lang="en" prefix="og:http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <title>{{ temp }}, {{ main }}</title>
    <meta property="og:site_name" content="{{ temp }}, {{ main }}">
    <meta property="og:title" content="{{ description }}">
    <meta property="og:description" content="{{ details }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ base_url }}{{ ico }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="64">
    <meta property="og:image:height" content="64">
    <meta property="og:url" content="{{ base_url }}weather">
    <link href="{{ base_url }}static/main.css" rel="stylesheet">
    <link rel="image_src" href="{{ base_url }}{{ ico }}" />
</head>
<body>
<div>
    <div class="ico">
        <img src="{{ base_url }}{{ ico }}" alt="{{ main }}" title="{{ main }}" itemprop="image" width="64" height="64" />
    </div>
    <div class="descr" itemprop="description">
        <strong>{{ city }}</strong><br/>
        <span class="temp">{{ temp }}</span> {{ description }}<br/>
        {{ details|safe }}<br />
        <small>{{ timestamp }}</small>
    </div>
</div>
</body>
</html>