<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="http://schema.org/WebPage">
<head>
    <meta charset="UTF-8">
    <title>{{ temp }} {{ main }}</title>
    <meta property="og:title" content="{{ temp }} {{ main }}" />
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ base_url }}{{ ico }}" />
    <meta property="og:image:type" content="image/png">
    <meta property="og:url" content="{{ base_url }}weather">
    <link href="{{ base_url }}static/main.css" rel="stylesheet">
</head>
<body>
<div>
    <div class="ico">
        <img src="{{ base_url }}{{ ico }}" alt="{{ main }}" title="{{ main }}" itemprop="image" />
    </div>
    <div class="descr" itemprop="description">
        <strong>{{ city }}</strong><br/>
        <span class="temp">{{ temp }}</span> {{ description }}<br/>
        {{ timestamp }} UTC
    </div>
</div>
</body>
</html>